<!DOCTYPE html>
<html th:replace="~{layout/index :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
</head>
<body>
<section>
    <div class="container-fluid">
        <h2 class="mt-2">Edit Product</h2>

        <div class="card mt-3">
            <div class="card-header bg-primary text-white">
                <h3 class="h5 mb-0">Product Form</h3>
            </div>

            <div th:replace="~{pages/products/fragments/_form :: form_fields(@{|/products/update/${id}|})}"></div>

            <div class="card-footer d-flex justify-content-end">
                <a th:href="@{/products}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>