<!DOCTYPE html>
<html th:replace="~{layout/index :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Subcategory</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<section>
    <div class="container-fluid py-3">
        <h2 class="h4 mb-3">Edit Subcategory</h2>

        <div class="card">
            <div class="card-header bg-primary text-white">
                Subcategory Form
            </div>
            <div class="card-body" th:replace="~{pages/subcategories/fragments/_form :: form_fields(@{|/subcategories/update/${id}|})}"></div>
            <div class="card-footer">
                <a th:href="@{/subcategories}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>