<!DOCTYPE html>
<html th:replace="~{layout/index :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Category</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<section>
    <div class="container-fluid py-3">
        <h2 class="h4">Edit Category</h2>

        <div class="card mt-3">
            <div class="card-header">
                <h3 class="h6 mb-0">Category Form</h3>
            </div>

            <div class="card-body">
                <div th:replace="~{pages/categories/fragments/_form :: form_fields(@{|/categories/update/${categoryId}|})}"></div>
            </div>

            <div class="card-footer d-flex justify-content-end">
                <a th:href="@{/categories}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>