<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="form_fields(formActionUrl)">

    <!--/*@thymesVar id="tagCreateRequest" type="com.floristeriaakasia.backend.model.dto.tag.TagRequest"*/-->
    <form th:action="${formActionUrl}"
          th:object="${tagCreateRequest}"
          method="post">

        <div class="mb-3">
            <label for="text" class="form-label">Tag Name</label>
            <input type="text" id="text" th:field="*{text}" class="form-control"/>
        </div>

        <div class="mb-3">
            <label for="route" class="form-label">Tag Route</label>
            <input type="text" id="route" th:field="*{route}" class="form-control"/>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" id="status" th:field="*{status}" class="form-check-input"/>
            <label for="status" class="form-check-label">Active</label>
        </div>
        <hr/>
        <button type="submit" class="btn btn-primary float-end">Save Tag</button>

    </form>
</div>

</body>
</html>